# Storytelling

This is data storytelling about life expectancy around the world. The target audience is general

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
plt.rcParams["figure.figsize"] = (10, 10)

In [2]:
# Source: https://www.kaggle.com/deepcontractor/human-life-expectancy-around-the-world
df = pd.read_csv('/home/parkerburchett/Documents/GitHub/SpringBoard/StoryTellingWithData/Human_life_Expectancy.csv')
df = df.replace('Not Available', np.nan)
for col in df.columns[4:]:
    df[col] = pd.to_numeric(df[col])
df.drop(columns=['Country_Code','Level'], inplace=True)
df.dtypes

Country     object
Region      object
1990       float64
1991       float64
1992       float64
1993       float64
1994       float64
1995       float64
1996       float64
1997       float64
1998       float64
1999       float64
2000       float64
2001       float64
2002       float64
2003       float64
2004       float64
2005       float64
2006       float64
2007       float64
2008       float64
2009       float64
2010       float64
2011       float64
2012       float64
2013       float64
2014       float64
2015       float64
2016       float64
2017       float64
2018       float64
2019       float64
dtype: object

In [3]:
# bad best practice I should refactor to pass in some kind of function
def compute_mean_life_span_by_year(df):
    regions = df[df['Region']!='Total']
    mean_df = pd.DataFrame(regions.iloc[:, 4:].mean(axis=0)).T
    mean_df.insert(0,'Stat','Mean')
    mean_df.insert(0,'Country',df['Country'].unique()[0])
    return mean_df

def compute_std_life_span_by_year(df):
    regions = df[df['Region']!='Total']
    std_df = pd.DataFrame(regions.iloc[:, 4:].std(axis=0)).T
    std_df.insert(0,'Stat','Standard Dev')
    std_df.insert(0,'Country',df['Country'].unique()[0])
    return std_df

def compute_max_life_span_by_year(df):
    regions = df[df['Region']!='Total']
    max_df = pd.DataFrame(regions.iloc[:, 4:].max(axis=0)).T
    max_df.insert(0,'Stat','Max')
    max_df.insert(0,'Country',df['Country'].unique()[0])
    return max_df

def compute_min_life_span_by_year(df):
    regions = df[df['Region']!='Total']
    min_df = pd.DataFrame(regions.iloc[:, 4:].min(axis=0)).T
    min_df.insert(0,'Stat','Min')
    min_df.insert(0,'Country',df['Country'].unique()[0])
    return min_df

def compute_summary_df(df):
    mean_df = compute_mean_life_span_by_year(df)
    std_df = compute_std_life_span_by_year(df)
    max_df = compute_max_life_span_by_year(df)
    min_df = compute_min_life_span_by_year(df)
    summary_df = pd.concat([mean_df,std_df,max_df,min_df])
    return summary_df

def calc_all_summary_df(df):
    countries = df['Country'].unique()
    summary_dfs = []
    for country in countries:
        country_df = df[df['Country'] == country]
        summary_df = compute_summary_df(country_df)
        summary_dfs.append(summary_df)
    return pd.concat(summary_dfs)

summary_df = calc_all_summary_df(df)
summary_df

,Country,Stat,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Mean,51.707500,52.411250,52.913750,53.511250,54.013750,54.517500,55.016250,55.517500,...,61.128750,61.725000,62.220000,62.615000,63.112500,63.507500,63.907500,64.208750,64.608750,64.910000
0,Afghanistan,Standard Dev,2.451173,2.483790,2.510162,2.537155,2.559391,2.584546,2.606755,2.631772,...,2.900460,2.281654,1.730268,1.329941,1.217888,1.431829,1.441941,1.447998,1.457585,1.463391
0,Afghanistan,Max,55.500000,56.260000,56.800000,57.440000,57.980000,58.520000,59.050000,59.590000,...,65.620000,65.160000,64.610000,64.180000,64.800000,65.910000,66.320000,66.640000,67.050000,67.360000
0,Afghanistan,Min,49.380000,50.050000,50.530000,51.100000,51.580000,52.060000,52.540000,53.020000,...,58.370000,59.390000,60.300000,60.970000,61.650000,61.880000,62.270000,62.570000,62.960000,63.250000
0,Albania,Mean,71.800000,71.900000,72.000000,72.200000,72.500000,72.800000,73.200000,73.600000,...,76.600000,76.900000,77.300000,77.600000,77.800000,78.000000,78.200000,78.300000,78.500000,78.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Zambia,Min,44.460000,43.420000,42.570000,41.810000,41.340000,40.910000,40.590000,40.550000,...,52.970000,53.910000,54.840000,55.580000,56.230000,58.250000,58.010000,57.480000,56.970000,57.330000
0,Zimbabwe,Mean,55.639000,54.126000,52.413000,50.967000,49.519000,48.267000,47.119000,46.166000,...,51.452000,53.912000,55.957000,57.790000,59.212000,60.224000,61.047000,61.562000,61.980000,62.295000
0,Zimbabwe,Standard Dev,3.023046,2.942199,2.849043,2.522332,2.311519,2.233891,2.288981,2.452011,...,2.540279,2.974226,2.735101,2.634768,2.721686,3.012703,2.768285,2.595551,2.521380,2.552560
0,Zimbabwe,Max,61.210000,59.550000,57.660000,55.530000,53.420000,51.540000,49.820000,49.400000,...,55.330000,58.790000,60.110000,61.120000,62.670000,64.490000,64.940000,65.070000,65.090000,65.640000
0,Zimbabwe,Min,50.160000,48.800000,47.250000,46.870000,46.430000,45.000000,43.390000,41.990000,...,48.080000,50.530000,52.250000,53.750000,54.860000,55.580000,57.180000,57.840000,58.040000,58.150000

In [34]:
usa_summary = summary_df[summary_df['Country'] == 'United States']
usa_summary.set_index(['Country', 'Stat'], inplace=True)
usa_summary

                                 1992       1993       1994       1995  \
Country       Stat
United States Mean          75.718235  75.788627  75.959412  76.129608
              Standard Dev   1.692910   1.690498   1.692809   1.695165
              Max           78.750000  78.780000  78.930000  79.070000
              Min           68.040000  68.240000  68.520000  68.810000

                                 1996       1997       1998       1999  \
Country       Stat
United States Mean          76.210588  76.391765  76.471765  76.652745
              Standard Dev   1.645245   1.602563   1.562783   1.531555
              Max           79.130000  79.300000  79.370000  79.540000
              Min           69.490000  70.260000  70.940000  71.710000

                                 2000       2001  ...       2010       2011  \
Country       Stat                                ...
United States Mean          76.734118  76.911569  ...  78.430784  78.528039
              Standard Dev   1.502261   1.520085  ...   1.583353   1.604530
              Max           79.610000  79.780000  ...  80.910000  81.060000
              Min           72.390000  72.690000  ...  74.690000  74.810000

                                 2012       2013       2014       2015  \
Country       Stat
United States Mean          78.624706  78.623137  78.619608  78.619608
              Standard Dev   1.625518   1.646261   1.667336   1.667336
              Max           81.210000  81.250000  81.300000  81.300000
              Min           74.940000  74.970000  75.000000  75.000000

                                 2016       2017       2018       2019
Country       Stat
United States Mean          78.619608  78.619608  78.619608  78.619608
              Standard Dev   1.667336   1.667336   1.667336   1.667336
              Max           81.300000  81.300000  81.300000  81.300000
              Min           75.000000  75.000000  75.000000  75.000000

[4 rows x 28 columns]

In [45]:
df[df['Country']=='United States']

,Country,Region,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1831,United States,Total,75.20,75.40,75.60,75.70,75.90,76.10,76.20,76.40,...,78.70,78.80,78.90,78.90,78.9,78.9,78.9,78.9,78.9,78.9
1832,United States,Alabama,73.54,73.65,73.76,73.77,73.88,73.99,74.00,74.11,...,75.34,75.40,75.47,75.43,75.4,75.4,75.4,75.4,75.4,75.4
1833,United States,Alaska,75.70,75.83,75.96,75.99,76.12,76.25,76.30,76.45,...,78.20,78.27,78.35,78.32,78.3,78.3,78.3,78.3,78.3,78.3
1834,United States,Arizona,76.10,76.26,76.42,76.48,76.64,76.80,76.87,77.04,...,79.50,79.58,79.65,79.63,79.6,79.6,79.6,79.6,79.6,79.6
1835,United States,Arkansas,74.20,74.31,74.41,74.42,74.53,74.64,74.66,74.78,...,75.99,76.04,76.09,76.05,76.0,76.0,76.0,76.0,76.0,76.0
1836,United States,California,75.85,76.10,76.35,76.50,76.76,77.01,77.20,77.49,...,80.61,80.71,80.81,80.80,80.8,80.8,80.8,80.8,80.8,80.8
1837,United States,Colorado,76.91,77.07,77.23,77.29,77.45,77.61,77.70,77.89,...,79.90,79.98,80.05,80.03,80.0,80.0,80.0,80.0,80.0,80.0
1838,United States,Connecticut,76.81,76.96,77.11,77.16,77.31,77.46,77.60,77.84,...,80.61,80.71,80.81,80.80,80.8,80.8,80.8,80.8,80.8,80.8
1839,United States,Delaware,74.70,74.94,75.18,75.32,75.56,75.80,75.89,76.08,...,78.25,78.34,78.42,78.41,78.4,78.4,78.4,78.4,78.4,78.4
1840,United States,District of Columbia,67.47,67.76,68.04,68.24,68.52,68.81,69.49,70.26,...,76.64,76.66,76.67,76.58,76.5,76.5,76.5,76.5,76.5,76.5
1841,United States,Florida,75.70,75.90,76.10,76.20,76.40,76.60,76.71,76.92,...,79.20,79.30,79.40,79.40,79.4,79.4,79.4,79.4,79.4,79.4
1842,United States,Georgia,73.39,73.59,73.79,73.89,74.09,74.29,74.39,74.59,...,77.05,77.13,77.22,77.21,77.2,77.2,77.2,77.2,77.2,77.2
1843,United States,Hawaii,78.46,78.61,78.75,78.78,78.93,79.07,79.13,79.30,...,80.91,81.06,81.21,81.25,81.3,81.3,81.3,81.3,81.3,81.3
1844,United States,Idaho,76.76,76.95,77.14,77.23,77.42,77.61,77.63,77.75,...,79.20,79.33,79.45,79.48,79.5,79.5,79.5,79.5,79.5,79.5
1845,United States,Illinois,74.80,74.99,75.18,75.27,75.46,75.65,75.78,76.01,...,78.90,78.98,79.05,79.03,79.0,79.0,79.0,79.0,79.0,79.0
1846,United States,Indiana,75.20,75.32,75.44,75.46,75.58,75.70,75.73,75.86,...,77.40,77.50,77.60,77.60,77.6,77.6,77.6,77.6,77.6,77.6
1847,United States,Iowa,76.81,76.99,77.17,77.25,77.43,77.61,77.65,77.79,...,79.20,79.38,79.55,79.63,79.7,79.7,79.7,79.7,79.7,79.7
1848,United States,Kansas,76.56,76.68,76.80,76.82,76.94,77.06,77.05,77.15,...,78.40,78.52,78.65,78.68,78.7,78.7,78.7,78.7,78.7,78.7
1849,United States,Kentucky,74.10,74.24,74.37,74.41,74.55,74.69,74.72,74.85,...,75.94,76.00,76.07,76.03,76.0,76.0,76.0,76.0,76.0,76.0
1850,United States,Louisiana,72.99,73.12,73.25,73.28,73.41,73.54,73.59,73.74,...,75.59,75.67,75.74,75.72,75.7,75.7,75.7,75.7,75.7,75.7
1851,United States,Maine,76.15,76.34,76.54,76.62,76.82,77.01,77.04,77.18,...,78.95,79.06,79.18,79.19,79.2,79.2,79.2,79.2,79.2,79.2
1852,United States,Maryland,74.70,74.85,75.00,75.05,75.20,75.35,75.48,75.71,...,78.70,78.78,78.85,78.83,78.8,78.8,78.8,78.8,78.8,78.8
1853,United States,Massachusetts,76.46,76.68,76.90,77.02,77.24,77.46,77.58,77.80,...,80.36,80.44,80.53,80.52,80.5,80.5,80.5,80.5,80.5,80.5
1854,United States,Michigan,74.95,75.16,75.37,75.48,75.69,75.90,75.96,76.12,...,78.05,78.14,78.22,78.21,78.2,78.2,78.2,78.2,78.2,78.2
1855,United States,Minnesota,77.46,77.61,77.76,77.81,77.96,78.11,78.20,78.39,...,80.61,80.78,80.96,81.03,81.1,81.1,81.1,81.1,81.1,81.1
1856,United States,Mississippi,72.84,72.89,72.94,72.89,72.93,72.98,73.02,73.15,...,74.69,74.81,74.94,74.97,75.0,75.0,75.0,75.0,75.0,75.0
1857,United States,Missouri,75.10,75.21,75.32,75.33,75.44,75.55,75.61,75.77,...,77.35,77.43,77.52,77.51,77.5,77.5,77.5,77.5,77.5,77.5
1858,United States,Montana,76.30,76.47,76.63,76.69,76.85,77.01,77.02,77.14,...,78.60,78.62,78.65,78.58,78.5,78.5,78.5,78.5,78.5,78.5
1859,United States,Nebraska,76.66,76.83,77.00,77.07,77.24,77.41,77.45,77.59,...,79.40,79.55,79.70,79.75,79.8,79.8,79.8,79.8,79.8,79.8
1860,United States,Nevada,74.50,74.68,74.86,74.94,75.12,75.30,75.41,75.62,...,78.15,78.19,78.22,78.16,78.1,78.1,78.1,78.1,78.1,78.1
1861,United States,New Hampshire,76.51,76.76,77.01,77.16,77.41,77.66,77.74,77.92,...,80.16,80.24,80.33,80.32,80.3,80.3,80.3,80.3,80.3,80.3
1862,United States,New Jersey,75.25,75.48,75.71,75.84,76.07,76.30,76.48,76.76,...,80.00,80.13,80.25,80.28,80.3,80.3,80.3,80.3,80.3,80.3
1863,United States,New Mexico,75.80,75.95,76.10,76.15,76.30,76.45,76.53,76.71,...,78.15,78.26,78.37,78.39,78.4,78.4,78.4,78.4,78.4,78.4
1864,United States,New York,74.50,74.80,75.10,75.30,75.60,75.90,76.21,76.62,...,80.16,80.29,80.43,80.47,80.5,80.5,80.5,80.5,80.5,80.5
1865,United States,North Carolina,74.25,74.43,74.61,74.69,74.87,75.04,75.13,75.31,...,77.55,77.66,77.77,77.79,77.8,77.8,77.8,77.8,77.8,77.8
1866,United States,North Dakota,77.26,77.41,77.56,77.61,77.76,77.91,77.94,78.07,...,79.60,79.63,79.65,79.58,79.5,79.5,79.5,79.5,79.5,79.5
1867,United States,Ohio,75.20,75.35,75.50,75.55,75.70,75.85,75.90,76.05,...,77.60,77.70,77.80,77.80,77.8,77.8,77.8,77.8,77.8,77.8
1868,United States,Oklahoma,75.05,75.09,75.13,75.07,75.11,75.14,75.13,75.21,...,75.84,75.90,75.97,75.93,75.9,75.9,75.9,75.9,75.9,75.9
1869,United States,Oregon,76.30,76.47,76.63,76.69,76.85,77.01,77.08,77.26,...,79.35,79.44,79.53,79.51,79.5,79.5,79.5,79.5,79.5,79.5
1870,United States,Pennsylvania,75.20,75.39,75.58,75.67,75.86,76.05,76.14,76.33,...,78.45,78.51,78.57,78.54,78.5,78.5,78.5,78.5,78.5,78.5
1871,United States,Rhode Island,76.25,76.50,76.74,76.88,77.12,77.36,77.41,77.56,...,79.30,79.50,79.70,79.80,79.9,79.9,79.9,79.9,79.9,79.9
1872,United States,South Carolina,73.34,73.52,73.70,73.78,73.96,74.14,74.21,74.38,...,76.69,76.82,76.94,76.97,77.0,77.0,77.0,77.0,77.0,77.0
1873,United States,South Dakota,76.56,76.72,76.88,76.94,77.10,77.26,77.31,77.46,...,79.15,79.29,79.43,79.46,79.5,79.5,79.5,79.5,79.5,79.5
1874,United States,Tennessee,74.10,74.19,74.29,74.29,74.39,74.49,74.52,74.65,...,76.29,76.34,76.39,76.35,76.3,76.3,76.3,76.3,76.3,76.3
1875,United States,Texas,75.10,75.29,75.48,75.57,75.76,75.95,76.03,76.21,...,78.35,78.44,78.52,78.51,78.5,78.5,78.5,78.5,78.5,78.5
1876,United States,Utah,77.71,77.86,78.01,78.06,78.21,78.36,78.34,78.42,...,79.95,80.07,80.18,80.19,80.2,80.2,80.2,80.2,80.2,80.2
1877,United States,Vermont,76.05,76.30,76.56,76.71,76.96,77.21,77.29,77.47,...,79.70,79.95,80.20,80.35,80.5,80.5,80.5,80.5,80.5,80.5
1878,United States,Virginia,75.00,75.17,75.34,75.41,75.58,75.75,75.86,76.07,...,78.75,78.86,78.98,78.99,79.0,79.0,79.0,79.0,79.0,79.0
1879,United States,Washington,76.76,76.94,77.12,77.20,77.38,77.56,77.62,77.78,...,79.85,79.92,79.98,79.94,79.9,79.9,79.9,79.9,79.9,79.9
1880,United States,West Virginia,74.10,74.24,74.37,74.41,74.55,74.69,74.70,74.81,...,75.59,75.59,75.59,75.50,75.4,75.4,75.4,75.4,75.4,75.4
1881,United States,Wisconsin,76.71,76.88,77.05,77.12,77.29,77.46,77.49,77.62,...,79.55,79.72,79.88,79.94,80.0,80.0,80.0,80.0,80.0,80.0
1882,United States,Wyoming,76.05,76.22,76.39,76.46,76.63,76.80,76.82,76.94,...,78.25,78.31,78.37,78.34,78.3,78.3,78.3,78.3,78.3,78.3

In [43]:
years = pd.to_numeric(usa_summary.columns)
means = usa_summary.loc[('United States','Mean'),:]
means

1992    75.718235
1993    75.788627
1994    75.959412
1995    76.129608
1996    76.210588
1997    76.391765
1998    76.471765
1999    76.652745
2000    76.734118
2001    76.911569
2002    76.989216
2003    77.166275
2004    77.344314
2005    77.522745
2006    77.704314
2007    77.885686
2008    78.067255
2009    78.248824
2010    78.430784
2011    78.528039
2012    78.624706
2013    78.623137
2014    78.619608
2015    78.619608
2016    78.619608
2017    78.619608
2018    78.619608
2019    78.619608
Name: (United States, Mean), dtype: float64